<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BDDOCUMENTUMEntities" connectionString="metadata=res://*/bdDocumentum.csdl|res://*/bdDocumentum.ssdl|res://*/bdDocumentum.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PROYDIG01\SQLSERVER2012;initial catalog=BDDOCUMENTUM;persist security info=True;user id=documentumsa;password=Banbif02;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>