<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICargo" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_IExpediente" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_ISolicitante" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                    maxReceivedMessageSize="65536" useDefaultWebProxy="true" />
                <binding name="BasicHttpBinding_ITramite" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ITupa" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44593/CargoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICargo" contract="SWCargo.ICargo"
                name="BasicHttpBinding_ICargo" />
            <endpoint address="http://localhost:44593/SolicitanteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitante"
                contract="SWSolicitante.ISolicitante" name="BasicHttpBinding_ISolicitante" />
            <endpoint address="http://localhost:44593/TramiteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITramite"
                contract="SWTramite.ITramite" name="BasicHttpBinding_ITramite" />
            <endpoint address="http://localhost:44593/TupaService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITupa" contract="SWTupa.ITupa"
                name="BasicHttpBinding_ITupa" />
            <endpoint address="http://localhost:44593/ExpedienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpediente"
                contract="SWExpediente.IExpediente" name="BasicHttpBinding_IExpediente" />
        </client>
    </system.serviceModel>
</configuration>
