<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICargo" />
                <binding name="BasicHttpBinding_ITramite" />
                <binding name="BasicHttpBinding_ITupa" />
                <binding name="BasicHttpBinding_IExpediente" />
                <binding name="BasicHttpBinding_ISolicitante" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:44593/CargoService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICargo" contract="SWCargo.ICargo"
                name="BasicHttpBinding_ICargo" />
            <endpoint address="http://localhost:44593/ConsultaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITramite"
                contract="SWConsulta.ITramite" name="BasicHttpBinding_ITramite" />
            <endpoint address="http://localhost:44593/ConsultaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITupa"
                contract="SWConsulta.ITupa" name="BasicHttpBinding_ITupa" />
            <endpoint address="http://localhost:44593/ExpedienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpediente"
                contract="SWExpediente.IExpediente" name="BasicHttpBinding_IExpediente" />
            <endpoint address="http://localhost:44593/SolicitanteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitante"
                contract="SWSolicitante.ISolicitante" name="BasicHttpBinding_ISolicitante" />
        </client>
    </system.serviceModel>
</configuration>
