<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICargo" />
        <binding name="BasicHttpBinding_IExpediente" />
        <binding name="BasicHttpBinding_ISolicitante" />
        <binding name="BasicHttpBinding_ITramite" />
        <binding name="BasicHttpBinding_ITupa" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:44593/CargoService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICargo" contract="WSCargo.ICargo"
        name="BasicHttpBinding_ICargo" />
      <endpoint address="http://localhost:44593/ExpedienteService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExpediente"
        contract="WSExpediente.IExpediente" name="BasicHttpBinding_IExpediente" />
      <endpoint address="http://localhost:44593/SolicitanteService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISolicitante"
        contract="WSSolicitante.ISolicitante" name="BasicHttpBinding_ISolicitante" />
      <endpoint address="http://localhost:44593/TramiteService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITramite"
        contract="WSTramite.ITramite" name="BasicHttpBinding_ITramite" />
      <endpoint address="http://localhost:44593/TupaService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITupa" contract="WSTupa.ITupa"
        name="BasicHttpBinding_ITupa" />
    </client>
  </system.serviceModel>
</configuration>
